* {
    box-sizing: border-box;
}
ul {
    list-style: disc !important;
    padding-left: 20px !important;
}

li::marker {
    color: #61DAFB;
}


body {
    margin: 0;
    font-family: Inter, sans-serif;
    /* background-color: #282D35;  */
    color: white;

    
}

header {
    height: 90px;
    background-color: #21222A;
    padding: 30px 25px;
}

nav {
    display: flex;
    align-items: center;
    height: 100%;
}

nav > img {
    width: 40px;
    margin-right: 7px;
}

nav > span {
    color: #61DAFB;
    font-size: 1.4rem;
    font-weight: 700;
}

main {
    padding: 60px 30px;
}

main > h1 {
    margin: 0;
    font-size: 2.4rem;
}

.facts-list {
    margin-top: 46px;
    max-width: 400px;
}

.facts-list > li {
    padding-block: 10px;
    line-height: 19px;
}

.facts-list > li::marker {
    color: #61DAFB;
}

.header-new{
 background: #F55A5A;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    height: 80px;
}
.img{
    width: 24px;
    margin-right: 7px;

}
.header-new>h1{
  font-size: 0.9rem;
    font-weight: 500;
    font-family: Inter;
}

.journal-entry{
    background-color: white;
    color: black;
    width: 100%;
    padding: 20px;
}
.main-image-container{
    width: 40%;
}
.info-container{
    width: 32%;
}
.marker{
    width: 100px;
}


article.journal-entry {
    display: flex;
    justify-content: center;
    align-items: center;
}

article.journal-entry .marker {
    width: 7px;
    margin-right: 4px;
}

article.journal-entry .main-image-container {
    width: 125px;
    height: 168px;
    overflow: hidden;
    border-radius: 5px;
    flex-shrink: 0;
    margin-right: 19px;
}

article.journal-entry .main-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.info-container span.country {
    text-transform: uppercase;
    font-size: 0.7rem;
    margin-right: 12px;
}

.info-container a {
    color: #2B283A;
    font-size: 0.7rem;
}

.info-container a:visited {
    color: #918E9B;
}

.info-container h2.entry-title {
    margin-top: 7px;
    margin-bottom: 17px;
}

.info-container p.trip-dates {
    font-weight: bold;
}

.info-container p.entry-text {
    line-height: 1.5;
    font-size: 0.8rem;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;  
    overflow: hidden;
}



.contacts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
}

.contact-card {
    width: 80%;
    flex-basis: 225px;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 13px;
    padding-bottom: 20px;
    background-color: white;
    margin: 20px;
    padding: 20px;
}

.contact-card > img {
    width: 60%;
    height: auto;
    align-self: center;
    border-radius: 5px;
    object-fit: cover;
}

.contact-card > h3 {
    font-weight: 700;
    font-size: 18px;
}

.info-group {
    display: flex;
    align-items: center;
}

.info-group > img {
    height: 11px;
    margin-right: 8px;
}

.info-group > p {
    margin-block: 3px;
    font-size: 12px;
    color: #2B283A;
}
.mine{
    background-color: white;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.10), 0px 1px 2px 0px rgba(0, 0, 0, 0.06);
}

.add-ingredient-form {
    display: flex;
    justify-content: center;
    gap: 12px;
    height: 38px;
}

.add-ingredient-form > input {
    border-radius: 6px;
    border: 1px solid #D1D5DB;
    padding: 9px 13px;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
    flex-grow: 1;
    min-width: 150px;
    max-width: 400px;
}

.add-ingredient-form > button {
    font-family: Inter, sans-serif;
    border-radius: 6px;
    border: none;
    background-color: #141413;
    color: #FAFAF8;
    width: 150px;
    font-size: 0.875rem;
    font-weight: 500;
}

.add-ingredient-form > button::before {
    content: "+";
    margin-right: 5px;
}
ul{
    color: black;
}

.container1 {
    display: flex;
    flex-direction: column;
       margin: 0;
    font-family: 'Inter', sans-serif;
    background-color: #262626;
    color: #D9D9D9;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container1 > h1 {
    font-size: 1.5rem;
    margin-top: 0;
}

.counter1 {
    display: flex;
    align-items: flex-end;
    align-self: center;
    margin-top: 40px;
}

.counter1 > button {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    background-color: #737373;
    color: #D9D9D9;
    font-size: 1.5rem;
}

.counter1 > button:hover {
    background-color: #404040;
    color: #D9D9D9;
}

.count1 {
    background-color: white;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #262626;
    margin-block: 0 10px;
    font-size: 2rem;
}

.plus1 {
    margin-left: -20px;
}

.minus1 {
    margin-right: -20px;
    z-index: 1;
}







.main1 {
    display: flex;
    flex-direction: column; 
    align-items: center;
      background-color: #70B85D;
    color: white;
    padding: 20px;
    font-size: 1.3rem;
}

.button1 {
    width: 100%;
    max-width: 300px;
    background-color: transparent;
    padding: 1rem;
    color: white;
    border: 2px solid white;
    border-radius: 50px;
    cursor: pointer;
    font-family: 'Karla', sans-serif;
    margin-bottom: 20px;
}

.button1:hover {
    background-color: #FFFEF1;
    color: #2C5E2E;
}

.button1:focus {
    outline: 0;
}

p {
    margin-block: 10px;
    font-size: 2rem;
}




