* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Inter, sans-serif;
    background-color: #282D35; 
    color: white;
}

header {
    height: 90px;
    background-color: #21222A;
    padding: 30px 25px;
}

nav {
    display: flex;
    align-items: center;
    height: 100%;
}

nav > img {
    width: 40px;
    margin-right: 7px;
}

nav > span {
    color: #61DAFB;
    font-size: 1.4rem;
    font-weight: 700;
}

main {
    padding: 60px 30px;
}

main > h1 {
    margin: 0;
    font-size: 2.4rem;
}

.facts-list {
    margin-top: 46px;
    max-width: 400px;
}

.facts-list > li {
    padding-block: 10px;
    line-height: 19px;
}

.facts-list > li::marker {
    color: #61DAFB;
}

.header-new{
 background: #F55A5A;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    height: 80px;
}
.img{
    width: 24px;
    margin-right: 7px;

}
.header-new>h1{
  font-size: 0.9rem;
    font-weight: 500;
    font-family: Inter;
}

.journal-entry{
    background-color: white;
    color: black;
    width: 100%;
    padding: 20px;
}
.main-image-container{
    width: 40%;
}
.info-container{
    width: 32%;
}
.marker{
    width: 100px;
}


article.journal-entry {
    display: flex;
    justify-content: center;
    align-items: center;
}

article.journal-entry .marker {
    width: 7px;
    margin-right: 4px;
}

article.journal-entry .main-image-container {
    width: 125px;
    height: 168px;
    overflow: hidden;
    border-radius: 5px;
    flex-shrink: 0;
    margin-right: 19px;
}

article.journal-entry .main-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.info-container span.country {
    text-transform: uppercase;
    font-size: 0.7rem;
    margin-right: 12px;
}

.info-container a {
    color: #2B283A;
    font-size: 0.7rem;
}

.info-container a:visited {
    color: #918E9B;
}

.info-container h2.entry-title {
    margin-top: 7px;
    margin-bottom: 17px;
}

.info-container p.trip-dates {
    font-weight: bold;
}

.info-container p.entry-text {
    line-height: 1.5;
    font-size: 0.8rem;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;  
    overflow: hidden;
}